.App {
  text-align: center;
}

.App-logo {
  height: 2em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.grommetux-anchor, 
a.grommetux-anchor:link,
a.grommetux-anchor:visited,
a.grommetux-anchor:active {
  color: #000;
}

@media screen and (min-width: 45em) {

  .skill-card.owned {
    position: relative;
  }

  .skill-card.owned:after {
    content: "";
    width: 5rem;
    height: 5rem;
    background: url('./images/gushpanka-logo.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    display: block;
    top: -25px;
    left: -15px;
  }

  .skill-card h2.grommetux-heading {
    font-size: 1.7rem !important;
  }

  .skill-card .grommetux-paragraph--large{
    font-size: 16px !important;
  }
}

.grommetux-title {
  font-size: 2rem;
}

.grommetux-card__thumbnail {
  background-size: contain !important;
}


.grommetux-box.skill-card .grommetux-anchor {
    text-align: right;
    background: aqua;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    align-self: flex-end;
    margin-top: 10px;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.flex-row .flex-label {
  text-align: left;
  display: block;
}
.flex-row .flex-data {
  text-align: right;
  display: block;
}

.market-place {
  margin-top: 2em;
}

.instructions {
  margin-top: 2em;
}
